[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
coloredlogs = "*"
colorlog = "*"
pandas = "*"
sqlalchemy = "*"
sklearn = "*"
seaborn = "*"
crowds = "*"
geopandas = "*"
contextily = "*"
postgis = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.7"
